@page "/allshows"
@using MyShowWatch.Shared
@inject HttpClient Http
@using System.Linq

<br />
<div>
    <SearchForTitle></SearchForTitle>
</div>
<br />

@if (shows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Summary info for All Shows</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Show Type</th>
                <th>How Many</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="@("/alltvshows")">TV Shows</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.TVShow)</td>
            </tr>
            <tr>
                <td>
                    <a href="@("/allmovies")">Movies</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.Movie)</td>
            </tr>
            <tr>
                <td>
                    <a href="@("/alldocumentaries")">Documentaries</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.Documentary)</td>
            </tr>
            <tr>
                <td>Total shows</td>
                <td>@shows.Count</td>
            </tr>
        </tbody>
    </table>

    <h3>All shows I'm tracking</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Show Title</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in shows)
            {
                <tr>
                    <td>
                        @show.Title
                    </td>
                    <td>
                        <a href="@($"showdetail/{show.Title}")" class="btn btn-info table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Show> shows { get; set; }

    private static readonly String baseURL = "https://localhost:5001/Show/";

    protected override async Task OnInitializedAsync()
    {
        shows = await Http.GetFromJsonAsync<List<Show>>(baseURL + "all");
    }

}
