@page "/allshows"
@using MyShowWatch.Shared
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@using System.Linq

<h1 class="display-3">All shows I'm tracking</h1>

<p>Here's a list of all your shows!</p>

@if (shows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>Summary Info</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Show Type</th>
                <th>How Many</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="@("/alltvshows")">TV Shows</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.TVShow)</td>                
            </tr>
            <tr>
                <td>
                    <a href="@("/allmovies")">Movies</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.Movie)</td>
            </tr>
            <tr>
                <td>
                    <a href="@("/alldocumentaries")">Documentaries</a>
                </td>
                <td>@shows.Count(s => s.ShowType == ShowType.Documentary)</td>
            </tr>
        </tbody>
    </table>

    
    <h2>All Shows I'm tracking</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Show Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in shows)
            {
                <tr>
                    <td>@show.Title</td>
                    <td>
                        <a href="@($"showdetail/{show.Title}")" class="btn btn-info table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private List<Show> shows { get; set; }

    //private int numTvShows, numMovies, numDocumentaries;

    private static readonly String baseURL = "https://localhost:5001/Show/";

    protected override async Task OnInitializedAsync()
    {
        shows = await Http.GetFromJsonAsync<List<Show>>(baseURL + "all");
    }

}
