@page "/detailedview"
@using MyShowWatch.Shared
@using Telerik.Blazor.Components
@inject HttpClient Http

<br />
<div>
    <SearchForTitle></SearchForTitle>
</div>
<br />

<TelerikGrid Data="shows" Sortable="true" Pageable="true" FilterMode="GridFilterMode.FilterMenu">
    <GridColumns>
        <GridColumn Field="@nameof(Show.Title)"></GridColumn>
        <GridColumn Field="@nameof(Show.ShowType)" Title="Show Type"></GridColumn>
        <GridColumn Field="@nameof(Show.Availability)"></GridColumn>
        <GridColumn Field="@nameof(Show.WatchStatus)" Title="Watched it?"></GridColumn>
        <GridColumn Field="@nameof(Show.RunningStatus)" Title="Still running?"></GridColumn>
        <GridColumn Field="@nameof(Show.AgeRating)" Title="For kids?"></GridColumn>
    </GridColumns>
</TelerikGrid>

@code {

    private List<Show> shows { get; set; }

    private static readonly String baseURL = "https://localhost:5001/Show/";

    // Calling back all shows to populate detailed grid
    protected override async Task OnInitializedAsync()
    {
        shows = await Http.GetFromJsonAsync<List<Show>>(baseURL + "all");
    }

}
